<div class="jumbotron" ng-hide="loggedIn">
    <h1>Movie Library</h1>
    <p class="lead">Manage your movie library intelligently </p>
    <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-2" style="margin-right:10px">
            <a class="btn pull-right btn-success btn-lg" href="#/signup">Sign up</a>
          </div>
          <div class="col-md-2">
            <a class="btn pull-right btn-success btn-lg" href="#/login">Login</a>
          </div>
        </div>
</div>
<div class="center-block">
	<h1 class="text-center">Movie Library</h1>
    <p class="lead text-center">Manage your movie library intelligently </p>
</div>

