<form class="form-horizontal" name="newItemForm" role="form">
<fieldset>
    <div class="control-group">
        <label for="inputTitle" class="control-label">Title</label>
        <div class="controls">
            <input required type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="newItem.title">
        </div>
    </div>
    <div class="control-group">
        <label for="inputRating" class="control-label">Rating</label>
        <div class="controls">
            <input required type="number" class="form-control" id="inputRating" placeholder="Rating" ng-model="newItem.rating">
        </div>
    </div>
    <div class="control-group">
        <label for="inputGenre" class="control-label">Genre</label>
        <div class="controls">
            <input required type="text" class="form-control" id="inputGenre" placeholder="Genre" ng-model="newItem.genre">
        </div>
    </div>
    <div class="control-group">
        <label for="inputClassification" class="control-label">Classification</label>
        <div class="controls">
            <input required type="text" class="form-control" id="inputClassification" placeholder="Classification" ng-model="newItem.classification">
        </div>
    </div>
    <div class="control-group">
        <label for="inputYear" class="control-label">Year</label>
        <div class="controls" >
            <select required ng-model="newItem.year" id="inputYear" ng-options="y for y in getYears()">{{y}}</select>
        </div>
    </div>
    <div class="control-group">
        <label for="inputActors" class=" control-label">Actors</label>
        <div id="inputActors" class="controls">
            <ul>
                <li ng-repeat="actor in newItem.cast">{{actor}}</li>
            </ul>
            <div class="input-append">
              <input class="span2" id="appendedInput" type="text" placeholder='Actor' ng-enter="addActor(actor)" ng-model="actor">
              <span class="add-on" style="cursor:pointer" ng-click="addActor(actor)"><i class="icon-arrow-up"></i></span>
            </div>
        </div>
    </div>
    </fieldset>
   <div class="form-actions">
    <div style="float:right">
      <button type="submit" class="btn btn-primary" ng-click="addNewMovie(newItem)" ng-disabled="newItemForm.$invalid">Save changes</button>
      <button type="button" class="btn" ng-click="cancel()">Cancel</button>
      </div>
    </div>
</form>