<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="media-object img-rounded" src='img/users/defaultUser.png' width="200" height="200" alt="avatar" ng-show="!image">
                <img class="media-object img-rounded"  width="200" height="200" ng-src="{{image.url}}" ng-show="image" type="{{image.file.type}}" alt="avatar">
                <input id="inputImg" type="file" accept='image/*' image="image" >
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
              <dl>
                <dt><label class="form-label">Name:</label></dt>
                <dd><input type="text" class="form-control" ng-model="username" /></dd>
                <dt><label class="form-label">Email:</label></dt>
                <dd><input type="text" class="form-control" ng-model="login" /></dd>
                <dt><label class="form-label">Password:</label></dt>
                <dd><input type="password" class="form-control" ng-model="pwd" /></dd>
              </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" style="width:100px" ng-click="saveUser(username, login, pwd, image)">Save</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" style="width:100px" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</div>