src/_UpgradeReport_Files/*
src/Backup/*
src/Movies/bin/*
src/Movies/obj/*
src/UpgradeLog.htm
src/UpgradeLog.XML
/src/MoviesUnitTests/bin/Debug
/src/MoviesUnitTests/obj/Debug
/src/MoviesWebClient/bin
/src/MoviesWebClient/obj/Debug
/src/TestResults
src/Backup1/*
src/MoviesWebClient/Content/themes/*
src/MoviesWebClient/Content/themes/*
src/MoviesWebClient/Content/themes/base/*
src/MoviesWebClient/Content/themes/*
src/MoviesWebClient/Content/themes/*
src/MoviesWebClient/Content/themes/base/jquery.ui.all.css
src/MoviesWebClient/Content/themes/base/jquery.ui.autocomplete.css
src/MoviesWebClient/Content/themes/base/jquery.ui.base.css
src/MoviesWebClient/Content/themes/base/jquery.ui.button.css
src/MoviesWebClient/Content/themes/base/jquery.ui.core.css
src/MoviesWebClient/Content/themes/base/jquery.ui.datepicker.css
src/MoviesWebClient/Content/themes/base/jquery.ui.dialog.css
src/MoviesWebClient/Content/themes/base/jquery.ui.progressbar.css
src/MoviesWebClient/Content/themes/base/jquery.ui.resizable.css
src/MoviesWebClient/Content/themes/base/jquery.ui.selectable.css
src/MoviesWebClient/Content/themes/base/jquery.ui.slider.css
src/MoviesWebClient/Content/themes/base/jquery.ui.tabs.css
src/MoviesWebClient/Content/themes/base/jquery.ui.theme.css
src/MoviesWebClient/Content/themes/base/jquery-ui.css
src/MoviesWebClient/Scripts/angular/*
src/MoviesWebClient/Scripts/angular/*
