@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About Classic Movies.</h1>
</hgroup>

<article>
    <p>
        Created by Sergey Sviridov
    </p>

    <p>
        Powered by Microsoft ASP.Net MVC with angular.js and WCF rest services
    </p>

    <p>
        This solution is base on 3-Tire architecture. Client logic is implemented in ASP.NET MVC applicaton and angularJS application and bootrstrap for applying style on UI. Bussiness logic is implemented as WCF service with caching and syncronization of changes with third party datasource.
    </p>
    <p>Supported Browsers: Chrome, IE 10, 11</p>
    <label >Deployemnt Diagram</label>
    <img src="../../Images/movies_deployment.png" />
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { @class="a" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = "a" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "a" })</li>
    </ul>
</aside>