@{
    ViewBag.Title = "Contact";
}

    <hgroup class="title">
        <h1>Contact me</h1>
    </hgroup>
    <section>
        <img src="../../Images/sviridovserg.png" style="width:150px; height:200px" />
    </section>
    <section class="contact">
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>+79050349790</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span><a href="mailto:sviridovserg@gmail.com">sviridovserg@gmail.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address:</h3>
        </header>
        <p>
            Sergey Sviridov<br />
            Russia, Saratov, P. Pervomaysky 5 proezd, 18/30, 38
            Post Code: 410004
        </p>
    </section>